.card {
    width: 200px;
    margin: 30px 20px 30px 0px;


    &_rating {
        position: absolute;
        margin: 20px 0px 0px 20px;
        width: 27px;
        padding: 2px 7px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        border-radius: 6px;
        color: white;
        background-color: rgba(0, 163, 64, 1);
    }

    img {
        width: 200px;
        height: 270px;
        // border-radius: 20px;
        border: 3px solid transparent;
        border-radius: 20px;

        &:hover {
            border-radius: 20px;
            border: 3px solid green ;
        }
    }

    &_film-name {
        margin: 15px 0px 0px 0px;
    }

    &_year {
        margin: 0px 0px 15px 0px;
    }
}