.film-description {
    display: flex;
    margin-top: 30px;

    &_film-data {
        margin-left: 30px;

        &--genre {
            margin: 0px;
            font-size: 16px;
            color: white;
        }

        &--name {
            font-size: 40px;
            margin: 10px 0px;
            color: white;
        }

        &--additional {
            font-size: 16px;
            margin-top: 30px;
            color: white;
        }
    }

    &_img {
        width: 240px;

        img {
            width: 240px;
            height: 300px;
            margin-bottom: 30px;
            border-radius: 10px;
        }

        &--buttons {
            display: flex;
        }

        &--button-bookmark {
            width: 120px;
            height: 50px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            background-color: rgba(50, 53, 55, 1);

            &:active {
                background-color: rgba(50, 53, 55, 0.7);
            }
        }

        &--button-forward {
            width: 120px;
            height: 50px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            background-color: rgba(50, 53, 55, 1);

            &:active {
                background-color: rgba(50, 53, 55, 0.7);
            }
        }
    }

    &_recommendations {
        display: flex;
        justify-content: space-between;

        &--button-left {
            width: 60px;
            height: 25px;
        }

        &--button-right {
            width: 60px;
            height: 25px;
        }
    }

    &_active {

        & svg path {
            fill: rgba(123, 97, 255, 1);
        }
    }
}